body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;


    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) no-repeat center center fixed;
    background-color: #f4f4f4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    width: 80%;
    margin: 20px auto;

    background-color: rgba(50, 50, 50, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


h3 {
    font-size: 1.8em;
    margin-top: 10px;
}

p {
    margin: 10px 0;
    font-size: 1.1em;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-image {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.section-row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.section-row .text {
    flex: 1;
    padding: 20px;
}

.section-image {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.image-left .section-image {
    order: 1;
    margin-right: 20px;
}

.image-right .section-image {
    order: 2;
    margin-left: 20px;
}
