* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


a {
    color: #ff0000;
    transition: color 0.3s ease;
}

a:hover {
    color: #00ff00;
    /* Changes to a different color when hovering */
}

/* Header */

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

/* Logo */
.logo {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

.logo-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}


/* Nav Bar */
header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a.current-page {
    color: red;
}

/* Section principale */

.content {
    text-align: center;
}

.sidebar {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    margin-left: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .page-author {
    color: red;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    text-align: center;


    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) no-repeat center center fixed;
    background-color: #f4f4f4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    width: 80%;
    margin: 20px auto;

    background-color: rgba(50, 50, 50, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


/* Blog Header */
.blog-post h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}


.cover-image {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.content h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.content p {
    margin: 10px 0;
    font-size: 1.1em;
}

.section-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.section-row .text {
    flex: 1;
    padding: 10px;
}

.section-image {
    width: 40%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.section-image:hover {
    transform: scale(1.05);
    /* Slight zoom effect */
}

.image-left .section-image {
    float: left;
    margin-right: 20px;
}

.image-right .section-image {
    float: right;
    margin-left: 20px;
}